@import "./__item/__item.css";

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.75em);
    grid-auto-rows: 11.75em;
    grid-gap: 1rem;
    justify-content: center;
}

@media screen and (max-width: 79.99rem) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 12.5em;
        grid-gap: .875rem;
    }
}

@media screen and (max-width: 63.99rem) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 14.625em;
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 47.99rem) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }
}

@media screen and (max-width: 23.43rem) {
    .photo-grid {
        grid-auto-rows: 12em;
        grid-row-gap: .5rem;
    }
}