.video-item__title {
    font-size: 2.25em;
    margin: .333em 0 0 0;
    line-height: 1.0833em;
    z-index: 20;
}

@media screen and (max-width: 63.99rem) {
    .video-item__title {
        font-size: 1.5em;
    }
}