.header__logo {
    max-width: 11em;
    transition: opacity .2s linear;
}

.header__logo:hover {
    opacity: .7;
}

@media screen and (max-width: 47.99rem) {
    .header__logo {
        max-width: 8.875em;
    }
}