@import "../../fonts/Inter/inter.css";
@import "__icon-play/__icon-play.css";
@import "__duration/__duration.css";
@import "__title/__title.css";
@import "__subtitle/__subtitle.css";
@import "_faded/_faded.css";
@import "_img-src/_img-src.css";

.video-item {
    position: relative;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .4em;
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 1fr repeat(3, min-content);
    padding: 1.875rem 1rem 1.875rem 1.875rem;
}

.video-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: background-color .2s linear;
    border-radius: .4em;
}

.video-item:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    border-radius: .4em;
    z-index: 10;
}

@media screen and (max-width: 63.99rem) {
    .video-item {
        padding: 1.5rem 0 1.5rem 1.5rem;
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 47.99rem) {
    .video-item {
        grid-template-columns: 1fr;
        font-size: 1em;
    }
}