@import "../../fonts/Inter/inter.css";
@import "./__title/__title.css";
@import "./__subtitle/__subtitle.css";
@import "./__img/__img.css";
@import "./__description/__description.css";
@import "./__text/__text.css";
@import "./__link/__link.css";

.barentsburg {
    margin: 5.375rem auto 0 auto;
    color: #fff;
    font-family: Inter, Arial, sans-serif;
}