.intro__heading {
    font-size: 3.375em;
    margin: 0;
    font-weight: 900;
    line-height: 1.0926em;
}

@media screen and (max-width: 47.99rem) {
    .intro__heading {
        font-size: 2em;
        line-height: 1.09375em;
    }
}