.page__footer {
    width: 100%;
    margin: 10rem auto 0 auto;
    padding-bottom: 3rem;
}

@media screen and (max-width: 63.99rem) {
    .footer {
        margin-top: 6.375rem;
    }
}

@media screen and (max-width: 47.99rem) {
    .footer {
        margin-top: 2.2rem;
    }
}