.video__container {
    width: 100%;
    display: grid;
    grid-gap: 1.125rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(20.1875rem, auto);
    justify-content: center;
    justify-items: center;
    margin-top: 4.5rem;
}

@media screen and (max-width: 63.99rem) {
    .video__container {
        margin-top: 3.5rem;
        grid-auto-rows: minmax(12.5rem, auto);
    }
}

@media screen and (max-width: 47.99rem) {
    .video__container {
        grid-template-columns: minmax(auto, 36.4375em);
        grid-auto-rows: minmax(12.5em, max-content);
        margin-top: 1.5rem;
    }
}